bumpversion==0.5.3
watchdog==0.9.0
wheel==0.33.6
tox==3.14.2
flake8==3.7.9
setuptools-scm==3.3.3
pytest==7.4.1
PyYAML==5.1.2
cryptography==2.8
Sphinx==1.8.5
coverage==4.5.4
pytest-runner==5.2
requests>=2
